<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/saddb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="entity/Despacho.hbm.xml"/>
    <mapping resource="entity/Cliente.hbm.xml"/>
    <mapping resource="entity/TipoUnidadTransporte.hbm.xml"/>
    <mapping resource="entity/Ubicacion.hbm.xml"/>
    <mapping resource="entity/PedidoParcial.hbm.xml"/>
    <mapping resource="entity/PedidoParcialXProducto.hbm.xml"/>
    <mapping resource="entity/Pallet.hbm.xml"/>
    <mapping resource="entity/Rack.hbm.xml"/>
    <mapping resource="entity/Producto.hbm.xml"/>
    <mapping resource="entity/TipoPalletXProducto.hbm.xml"/>
    <mapping resource="entity/Pedido.hbm.xml"/>
    <mapping resource="entity/TipoPallet.hbm.xml"/>
    <mapping resource="entity/Almacen.hbm.xml"/>
    <mapping resource="entity/Kardex.hbm.xml"/>
    <mapping resource="entity/Usuario.hbm.xml"/>
    <mapping resource="entity/ItemProducto.hbm.xml"/>
    <mapping resource="entity/GuiaRemision.hbm.xml"/>
    <mapping resource="entity/PreguntaSecreta.hbm.xml"/>
    <mapping resource="entity/OrdenInternamientoXProducto.hbm.xml"/>
    <mapping resource="entity/OrdenInternamiento.hbm.xml"/>
    <mapping resource="entity/Perfil.hbm.xml"/>
    <mapping resource="entity/HistorialMovimientos.hbm.xml"/>
    <mapping resource="entity/Accion.hbm.xml"/>
    <mapping resource="entity/Local.hbm.xml"/>
    <mapping resource="entity/Condicion.hbm.xml"/>
    <mapping resource="entity/UnidadTransporte.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
