<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/saddb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="Domain/TipoUnidadTransporte.hbm.xml"/>
    <mapping resource="Domain/UnidadTransporte.hbm.xml"/>
    <mapping resource="Domain/TipoPalletXProducto.hbm.xml"/>
    <mapping resource="Domain/Perfil.hbm.xml"/>
    <mapping resource="Domain/PedidoParcial.hbm.xml"/>
    <mapping resource="Domain/OrdenInternamiento.hbm.xml"/>
    <mapping resource="Domain/Rack.hbm.xml"/>
    <mapping resource="Domain/OrdenInternamientoXProducto.hbm.xml"/>
    <mapping resource="Domain/Accion.hbm.xml"/>
    <mapping resource="Domain/Despacho.hbm.xml"/>
    <mapping resource="Domain/TipoPallet.hbm.xml"/>
    <mapping resource="Domain/Cliente.hbm.xml"/>
    <mapping resource="Domain/Pallet.hbm.xml"/>
    <mapping resource="Domain/Almacen.hbm.xml"/>
    <mapping resource="Domain/Local.hbm.xml"/>
    <mapping resource="Domain/Ubicacion.hbm.xml"/>
    <mapping resource="Domain/Condicion.hbm.xml"/>
    <mapping resource="Domain/ItemProducto.hbm.xml"/>
    <mapping resource="Domain/PreguntaSecreta.hbm.xml"/>
    <mapping resource="Domain/GuiaRemision.hbm.xml"/>
    <mapping resource="Domain/Producto.hbm.xml"/>
    <mapping resource="Domain/PedidoParcialXProducto.hbm.xml"/>
    <mapping resource="Domain/Pedido.hbm.xml"/>
    <mapping resource="Domain/Kardex.hbm.xml"/>
    <mapping resource="Domain/Usuario.hbm.xml"/>
    <mapping resource="Domain/HistorialMovimientos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
